<!-- {% load static %}
<header>
    <nav class="p-4 bg-red shadow-md flex justify-between items-center">
        <ul>
            <li>หน้าหลัก</li>
            <li>
                <div class="search-box border border-gray-300 rounded-full px-4 py-2 flex items-center">
                    <span class="mdi mdi-magnify"></span>
                </div>
            </li>
            <li>
                <button>
                    หมวดหมู่หนังสือ
                </button>
                <ul>
                    {% for cate in categories %}
                    <li><a href="{% url 'book:category' cate.id %}">{{ cate.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </nav>
</header> -->