<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="flex flex-col items-center justify-center min-h-screen px-4">
    <div class="w-full max-w-[800px] p-8 bg-white rounded-2xl">
      <header class="mb-6 text-center">
        <h1 class="text-3xl font-semibold text-gray-800">เข้าสู่ระบบ</h1>
      </header>

      <form method="POST" class="space-y-4">
        {% csrf_token %}
        {{ form.username.errors }}

        <div>
          <label class="mb-2 block text-gray-700" for="email">Email</label>
          <input
            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#FF2348]"
            type="text" id="user" name="username" placeholder="กรอกชื่อผู้ใช้งาน" required>
        </div>
        {{ form.password.errors }}
        <div>
          <label class="mb-2 block text-gray-700" for="password">Password</label>
          <input
            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#FF2348]"
            type="password" id="password" name="password" placeholder="กรอกรหัสผ่าน" required>
        </div>
        <div>
          <h2>ยังไม่มีบัญชีผู้ใช้? <a href="{% url 'register' %}" class="text-[#FF2348]">คลิกที่นี่เพื่อสมัครสมาชิก</a>
          </h2>
        </div>
        {% if error_message %}
        <div>
          {% for error in error_message %}
          <p class="text-danger">{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
        <div>
          <button type="submit"
            class="w-full bg-[#FF2348] text-white rounded-lg px-4 py-2 font-semibold hover:bg-[#e5203f] transition-all duration-200">
            เข้าสู่ระบบ
          </button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>